.btn-blue,
.btn-blue:hover,
.btn-blue:active,
.btn-blue:focus {
	background-color: #3a5aff;
	color: #fff !important;
	border-radius: 4px;
	/* padding-left: 17px !important;
	padding-right: 17px !important; */

	/* Font style */
	font-size: 16px;
	line-height: 19.5px;
	font-weight: 600;
}

.btn-light,
.btn-light:hover,
.btn-light:active,
.btn-light:focus {
	background-color: #fff;
	border: 1px solid #979797;
	color: #979797 !important;
	font-size: 16px;
	line-height: 19.5px;
	font-weight: 600;
}

.navbar-light {
	background-color: #fff !important;
}

.logo {
	width: 80%;
	padding-bottom: 10px;
}

.f-32 {
	font-size: 64px;
}
.f-20 {
	font-size: 20px;
}
.f-16 {
	font-size: 16px;
}

.pd-right-40 {
	padding-right: 40px !important;
}
.pd-left-40 {
	padding-left: 40px !important;
}

.pd-bottom-10 {
	padding-bottom: 10px;
}
.pd-top-10 {
	padding-top: 10px;
}

.pd-top-40 {
	padding-top: 40px;
}
.pd-bottom-40 {
	padding-bottom: 40px;
}
.pd-bottom-30 {
	padding-bottom: 30px;
}

.h-100vh {
	height: calc(100vh - 77px);
}

.line-blue {
	width: 10%;
	margin: 0 auto;
	border: 4px solid #3a5aff;
	opacity: 1;
}

.link-transparent {
	color: #000;
	background: transparent;
	font-weight: bold;
}

.bg-grey {
	background-color: #f2f2f2;
}
